/target/
/classes/
/checkouts/
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
.hgignore
.hg/
/doc
/dev-resources
*.sql
/css
/lib/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
.cpcache/